<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add providerName="System.Data.SqlClient"
           name="minhaConexao"
           connectionString="Data Source=BRJ\SQLEXPRESS;Initial Catalog=QuadroMedalhas;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
           />
    </connectionStrings>
</configuration>